<nav class="navbar is-light has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 id="puzzle-title"><i class="fa-solid fa-record-vinyl"></i> PopIdle</h1>
            </a>
            <a class="navbar-item" href="https://twitter.com/popidlegame">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="navbar-item" href="https://www.instagram.com/popidlegame/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="navbar-item" href="#" (click)="openHowToModal($event)">
                <i class="fa-solid fa-circle-question"></i>
            </a>
        </div>
    </div>
</nav>

<app-stats *ngIf="showStats" (closeStats)="closeStatsModal()"></app-stats>
<app-how-to *ngIf="showHowTo" (closeStats)="closeHowToModal()"></app-how-to>