<nav class="navbar" role="navigation" aria-label="main navigation" ngClass="is-secondary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/']">
                <h1 id="puzzle-title" class="is-size-4">
                    <i class="fa-solid fa-record-vinyl"></i> PopIdle</h1>
            </a>
            <a class="navbar-item" [routerLink]="['/']" title="Home">
                <i class="fa-solid fa-house"></i>
                <span class="is-sr-only">Home</span>
            </a>
            <a class="navbar-item" href="#" (click)="openHowToModal($event)" title="How to play">
                <i class="fa-solid fa-circle-question"></i>
                <span class="is-sr-only">How to play</span>
            </a>
            <a class="navbar-item" href="#" (click)="openStatsModal($event)" title="History">
                <i class="fa-solid fa-chart-simple"></i>
                <span class="is-sr-only">History</span>
            </a>
            <a class="navbar-item" [routerLink]="['/album-history']" title="Previous puzzles">
                <i class="fa-solid fa-calendar-days"></i>
                <span class="is-sr-only">Previous puzzles</span>
            </a>
            <a class="navbar-item" title="Update cookie preferences" id="open_preferences_center">
                <i class="fa-solid fa-cookie"></i>
                <span class="is-sr-only">Update cookie preferences</span>
            </a>
        </div>
    </div>
</nav>

<app-stats *ngIf="showStats" (closeStats)="closeStatsModal()"></app-stats>
<app-how-to *ngIf="showHowTo" (closeStats)="closeHowToModal()"></app-how-to>