<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h2 class="modal-card-title">News</h2>
        <button class="delete" aria-label="close" (click)="closeClicked()"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
            <p>Can you guess the albums from the 80's and 90's in our new PopIdle games</p>
            <p><a class="button is-danger is-fullwidth" href="https://80s.popidle.app" target="_blank" title="Play PopIdle 80's"><i class="fa-solid fa-record-vinyl">&nbsp;</i>Play PopIdle 80's</a></p>
            <p><a class="button is-info is-fullwidth" href="https://90s.popidle.app" target="_blank" title="Play PopIdle 90's"><i class="fa-solid fa-record-vinyl">&nbsp;</i>Play PopIdle 90's</a></p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeClicked()">Close</button>
      </footer>
    </div>
  </div>