<app-hero-header [pageTitle]="'Play more games'"></app-hero-header>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <app-game 
                    [gameTitle]="'PopIdle80s'"
                    [gameImageUrl]="'/assets/images/banners/80s.webp'"
                    [gameDescription]="'Guess the 80\'s album from the pixelated artwork.'"
                    [gameUrl]="'https://80s.popidle.app'"></app-game>
            </div>
            <div class="column">
                <app-game 
                    [gameTitle]="'PopIdle90s'"
                    [gameImageUrl]="'/assets/images/banners/90s.webp'"
                    [gameDescription]="'Guess the 90\'s album from the pixelated artwork.'"
                    [gameUrl]="'https://90s.popidle.app'"></app-game>
            </div>
            <div class="column">
                <app-game 
                    [gameTitle]="'ScreenIdle'"
                    [gameImageUrl]="'/assets/images/banners/ScreenIdle.webp'"
                    [gameDescription]="'Can you guess the movie from the pixelated image of the poster or the movie tagline?'"
                    [gameUrl]="'https://screenidle.app'"></app-game>
            </div>
          </div>
    </div>
</section>