<footer class="footer">
    <div class="container content">
        <p><b>PopIdle</b> by Greg Parr</p>
        <div class="field is-grouped">
            <p class="control">
                <a class="button" href="https://twitter.com/popidlegame">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </p>
            <p class="control">
                <a class="button" href="https://www.instagram.com/popidlegame/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
          </div>
    </div>
</footer>