<footer class="footer">
    <div class="container content">
        <div class="columns">
            <div class="column">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button" href="https://twitter.com/popidlegame">
                            <i class="fa-brands fa-twitter"></i>
                            <span class="is-sr-only">Visit the PopIdle Twitter page</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://www.instagram.com/popidlegame/">
                            <i class="fa-brands fa-instagram"></i>
                            <span class="is-sr-only">Visit the PopIdle Instagram page</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://open.spotify.com/playlist/1bii3CyhDqTkqM1fvQ0t3U">
                            <i class="fa-brands fa-spotify"></i>
                            <span class="is-sr-only">Visit the #PopIdle Hits Spotify playlist</span>
                        </a>
                    </p>
                  </div>
            </div>
            <div class="column">
                <app-ko-fi></app-ko-fi>
            </div>
        </div>
        
    </div>
</footer>