<footer class="footer">
    <div class="container content">
        <div class="columns">
            <div class="column">
                <a [routerLink]="['/privacy-policy']">Privacy policy</a>
            </div>
            <div class="column">
                <app-ko-fi></app-ko-fi>
            </div>
            <div class="column">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button" href="https://twitter.com/popidlegame">
                            <i class="fa-brands fa-x-twitter"></i>
                            <span class="is-sr-only">Visit the PopIdle X/Twitter page</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://www.reddit.com/user/PopIdleAlbums/">
                            <i class="fa-brands fa-reddit"></i>
                            <span class="is-sr-only">Visit us on Reddit</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://bsky.app/profile/popidle.app">
                            <i class="fa-brands fa-bluesky"></i>
                            <span class="is-sr-only">Visit us on Bluesky</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://www.instagram.com/popidlegame/">
                            <i class="fa-brands fa-instagram"></i>
                            <span class="is-sr-only">Visit the PopIdle Instagram page</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://open.spotify.com/playlist/1bii3CyhDqTkqM1fvQ0t3U">
                            <i class="fa-brands fa-spotify"></i>
                            <span class="is-sr-only">Visit the #PopIdle Hits Spotify playlist</span>
                        </a>
                    </p>
                  </div>
            </div>
        </div>

    </div>
</footer>
