<div class="notification content is-black">
    <h3 class="title">More music fun!</h3>
    <h4 class="has-text-white">Can you guess the song that the band are playing?</h4>
    <p><a href="https://bandle.app" target="_blank" title="Play Bandle"><i class="fa-solid fa-music">&nbsp;</i>Play Bandle</a></p>
    <h4 class="has-text-white">Can you guess the movie from the pixelated poster?</h4>
    <p><a href="https://screenidle.app" target="_blank" title="Play ScreenIdle"><i class="fa-solid fa-clapperboard">&nbsp;</i>Play ScreenIdle</a></p>
</div>