<div class="notification content is-warning">
    <h3 class="title">Even more PopIdle</h3>
    <p>Can you guess the albums from the 80's and 90's in our new PopIdle games</p>
    <p><a class="button is-danger is-fullwidth" href="https://80s.popidle.app?utm_source=popidle&utm_campaign=more_popidle" target="_blank" title="Play PopIdle 80's"><i class="fa-solid fa-record-vinyl">&nbsp;</i>Play PopIdle 80's</a></p>
    <p><a class="button is-info is-fullwidth" href="https://90s.popidle.app?utm_source=popidle&utm_campaign=more_popidle" target="_blank" title="Play PopIdle 90's"><i class="fa-solid fa-record-vinyl">&nbsp;</i>Play PopIdle 90's</a></p>
    <p><a class="button is-dark is-fullwidth" href="https://00s.popidle.app?utm_source=popidle&utm_campaign=more_popidle" target="_blank" title="Play PopIdle 00's"><i class="fa-solid fa-record-vinyl">&nbsp;</i>Play PopIdle 00's</a></p>
    <p>Or perhaps movies are more you thing? Think you can guess the movie from the pixelated movie poster? ...</p>
    <p><a class="button is-dark is-fullwidth" href="https://screenidle.app?utm_source=popidle&utm_campaign=more_popidle" target="_blank" title="Play PopIdle 90's"><i class="fa-solid fa-clapperboard">&nbsp;</i>Play ScreenIdle</a></p>
</div>
