<section class="hero is-primary is-small is-bold">
    <div class="hero-body">
        <div class="container">
            <h2 class="title">Previous album puzzles</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            Click on one of the buttons below to play one of the previous puzzles.
        </div>
        <div class="buttons">
            <a 
                class="button is-medium is-link"
                *ngFor="let puzzle of previousPuzzles"
                [routerLink]="['/guess-the-album', puzzle]">{{ puzzle }}</a>
        </div>
    </div>
</section>
