<app-hero-header [pageTitle]="'Previous album puzzles'"></app-hero-header>
<section class="section">
    <div class="container">
        <div class="content">
            Click on one of the buttons below to play one of the previous puzzles.
        </div>
        <div class="buttons">
            <a 
                class="button is-medium is-link"
                *ngFor="let puzzle of previousPuzzles"
                [routerLink]="['/guess-the-album', puzzle]">{{ puzzle }}</a>
        </div>
    </div>
</section>
