<app-hero-header [pageTitle]="'Previous album puzzles'"></app-hero-header>
<section class="section">
    <div class="container">
        <div class="notification">
            Think you know your 80's and 90's music? Try our new games <a class="has-text-weight-bold" href="https://80s.popidle.app" target="_blank">PopIdle80s</a> and <a class="has-text-weight-bold" href="https://90s.popidle.app" target="_blank">PopIdle90s</a> now!
        </div>
        <div class="content">
            Click on one of the buttons below to play one of the previous puzzles.
        </div>
        <div class="buttons">
            <a 
                class="button is-medium is-link"
                *ngFor="let puzzle of previousPuzzles"
                [routerLink]="['/guess-the-album', puzzle]">{{ puzzle }}</a>
        </div>
    </div>
</section>
