<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">History</p>
        <button class="delete" aria-label="close" (click)="closeClicked()"></button>
      </header>
      <section class="modal-card-body">
        <app-stats-detail></app-stats-detail>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeClicked()">Close</button>
      </footer>
    </div>
  </div>