<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <h2 class="title">
                {{ title }}
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column" *ngIf="gameMode == 'play'">
                <div id="puzzle-box"></div>
            </div>
            <div class="column" *ngIf="gameMode == 'play'">
                <div id="puzzle-controls">
                    <div class="field">
                        <label class="label" for="guess">Search album list</label>
                        <div class="control autocomplete">
                            <input type="text" id="guess"
                                class="input is-outlined is-medium is-primary" 
                                autocomplete="off"
                                name="guess" />
                        </div>
                    </div>
                    <button type="button" class="button is-primary is-medium is-fullwidth" id="btnSubmit" (click)="submitGuess()">Guess</button>
                    <app-puzzle-guess-log [guesses]="guesses"></app-puzzle-guess-log>
                </div>
                <div class="content" *ngIf="guesses.length > 0">
                    <h3 class="is-sr-only subtitle">Previous guesses</h3>
                    <ol id="previous-guesses">
                        <li *ngFor="let g of guesses"><i class="fa-regular fa-tick"></i> {{ g.answer }}</li>
                    </ol>
                </div>
            </div>
            <div class="column" *ngIf="gameMode == 'won'">
                <app-spotify-widget *ngIf="answer?.embedKey != ''" [albumId]="answer?.embedKey || ''"></app-spotify-widget>
                <app-puzzle-guess-log [guesses]="guesses"></app-puzzle-guess-log>
                <div class="notification is-success content" role="alert">
                    <h3 class="title">Top of the Pops!</h3>
                    <p>You knew that the answer was <b>{{ answer?.albumTitle }}</b> by <b>{{ answer?.artist }}</b>.</p>
                    <button type="button" (click)="share()" class="button is-inverse is-fullwidth"><i class="fa-solid fa-share-nodes">&nbsp;</i> Share results</button>
                </div>
                <app-friends></app-friends>
            </div>
            <div class="column" *ngIf="gameMode == 'lost'">
                <app-spotify-widget *ngIf="answer?.embedKey != ''" [albumId]="answer?.embedKey || ''"></app-spotify-widget>
                <app-puzzle-guess-log [guesses]="guesses"></app-puzzle-guess-log>
                <div class="notification is-danger content" role="alert">
                    <h3 class="title">Better luck next time!</h3>
                    <p>The answer was <b>{{ answer?.albumTitle }}</b> by <b>{{ answer?.artist }}</b>.</p>
                    <button type="button" (click)="share()" class="button is-inverse is-fullwidth"><i class="fa-regular fa-share-nodes">&nbsp;</i> Share results</button>
                </div>
                <app-friends></app-friends>
            </div>
            <div class="column" *ngIf="gameMode != 'play'">
                <div class="notification content is-info is-bold" *ngIf="puzzleMode === 'daily'">
                    <h3 class="title">Daily puzzle history</h3>
                    <app-stats-detail></app-stats-detail>
                </div>
            </div>
        </div>
    </div>
</section>