<div id="guess-boxes" class="notification is-white has-text-centered">
    <span [ngClass]="getBoxWrapperClass(1)">
        <i [ngClass]="getBoxIconClass(1)"></i>
    </span>
    <span [ngClass]="getBoxWrapperClass(2)">
        <i [ngClass]="getBoxIconClass(2)"></i>
    </span>
    <span [ngClass]="getBoxWrapperClass(3)">
        <i [ngClass]="getBoxIconClass(3)"></i>
    </span>
    <span [ngClass]="getBoxWrapperClass(4)">
        <i [ngClass]="getBoxIconClass(4)"></i>
    </span>
    <span [ngClass]="getBoxWrapperClass(5)">
        <i [ngClass]="getBoxIconClass(5)"></i>
    </span>
    <span [ngClass]="getBoxWrapperClass(6)">
        <i [ngClass]="getBoxIconClass(6)"></i>
    </span>
</div>
